<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawPath"
        tools:targetApi="31">
        <activity
            android:name=".ui.AddDailyTasks"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXTnxFdoEsBklItCV7V1j-Zvpxvq8ElSA" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".NearVets"
            android:exported="false"
            android:label="@string/title_activity_near_vets" />
        <activity
            android:name=".ui.DailyTasks"
            android:exported="false" />
        <activity
            android:name=".ui.PetHealthAddInfo"
            android:exported="false" />
        <activity
            android:name=".ui.PetHealth"
            android:exported="false" />
        <activity
            android:name=".ui.PetProfileEdit"
            android:exported="false" />
        <activity
            android:name=".ui.PetProfile"
            android:exported="false" />
        <activity
            android:name=".ui.HealthService"
            android:exported="false" />
        <activity
            android:name=".ui.Calendar"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfileEdit"
            android:exported="false" />
        <activity
            android:name=".ui.MyPets"
            android:exported="false" />
        <activity
            android:name=".ui.Home"
            android:exported="false" />
        <activity
            android:name=".ui.LogIn"
            android:exported="false" />
        <activity
            android:name=".ui.SignUp"
            android:exported="false" />
        <activity
            android:name=".ui.FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>